body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .main{
    background-image: url('../../../assets/images/dog.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
  }
 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    animation: popUp 1.5s ease-in-out forwards;
  }
 
  .card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 700px;
    margin: 20px;
    animation: dropIn 0.6s ease-in-out forwards;
  }
 
  .card-header {
    background-color: rgba(137, 0, 87, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }
 
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
 
  .btn {
    background-color: rgba(137, 0, 87, 0.8);
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
  }
 
  /* .btn:hover {
    transform: scale(1.05);
  } */
 
  .btn:active {
    transform: scale(0.95);
    color: #fff;
    background-color: rgba(217, 0, 150, 0.8);
  }
 
  .error-message span {
    color: red;
  }
 
  @keyframes popUp {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
 
  @keyframes dropIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }