.container {
    max-width: 800px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
}

.table thead {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    width: 80px;
}
